@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

.login{
    background-image: url("./background.png");
    height:100vh;
}

.success{
    position: relative;
    top: 30vh;
    background-color: #76d4d085;
    font-family:'Nunito';
    color: #252525;
    font-size: 35px;
    margin: auto;
    filter: drop-shadow(0px 0px 5px #2b7a7771);
    border: #2525259f solid 2px;
    border-radius: 50px;
    padding: 20px 15px 20px 15px;
    width: max-content;
    height: max-content;
}

#confirm{
    background-color: #17252A;
    font-family:'Nunito';
    font-size: 30px;
    color: #CEF4F2;
    position: relative;
    top: 31vh;
    border-radius: 35px;
    width: 20vh;
    height: 55px;
}

.error{
    margin: auto;
    top: 26vh;
    position: relative;
    color:red;
    font-family: 'Nunito';
    border-radius: 25px;
    font-size: 20px;
}

#username, #password{
    position: relative;
    filter: drop-shadow(0px 0px 10px #2b7a7742);
    top: 25vh;
    width: 20vh;
    margin: auto;
    background-color: #61beb982;
    border: #17252aaf 2px solid;
    font-family:'Nunito';
    margin-top: 15px;
    font-size: 35px;
    border-radius: 50px;
    padding-left: 20px;
    width: 40vh;
    height: 70px;
}
.login-button{
    background-color: #17252A;
    font-family:'Nunito';
    font-size: 30px;
    color: #CEF4F2;
    position: relative;
    top: 30vh;
    border-radius: 35px;
    width: 20vh;
    height: 55px;
}

.sign{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 7px;
    position: relative;
    margin-top: 288px;
}

#signup-button{
    height: 55px;
    width: 20vh;
    background-color: #17252A;
    font-family:'Nunito';
    font-size: 30px;
    color: #CEF4F2;
    border-radius: 35px;
}

#google-login{
    height: 55px;
    width: 35vh;
    background-color: #17252A;
    font-family:'Nunito';
    font-size: 30px;
    color: #CEF4F2;
    border-radius: 35px;
}

.sign #google-login:hover{
    background-color: #17252ac3;
    cursor: pointer;
}
.sign #signup-button:hover{
    background-color: #17252ac3;
    cursor: pointer;
}


.login-button:hover, #confirm:hover{
    background-color: #17252ac3;
    cursor: pointer;
}